# Scraped or sensitive data
*_index.html
stories/
scenarios/
*.json
*.scenario
!The_Layover.scenario
!Family.json

# python cache
__pycache__/

# backups
backups/
!/backups/.gitkeep

#logs
client.error
client.log
