# Scraped or sensitive data
index*
stories/
scenarios/
*.json
index.html
token
*.scenario

# python cache
__pycache__/

# backups
backups/
!/backups/.gitkeep

# test files, they need a token to test against the 
# real server
test_files/
tests.py
