# Scraped or sensitive data
*index.html
stories/
scenarios/
*.json
index.html
*.scenario

# Test files
!test_scen.json
!test_stories.json

# python cache
__pycache__/

# backups
backups/
!/backups/.gitkeep

#logs
client.error
client.log
